-#
  Übergebene Variablen:
  - @fahrzeuge [Array aller Fahrzeuge des aktuellen Benutzers]

  to do:
  - Zusammenspiel mit Controller absprechen
    # Erster Schritt: Nutzer gibt Daten ein
    # Zweiter Schritt: Nutzer bekommt Formular mit Dropdown-Boxen
      für Start und Ziel (enthalten sind alle Matches für die Eingaben).
      Nutzer wählt den gewünschten Startpunkt und das gewünschte Ziel.

= form_tag("create", :method => "post") do
  %table.form_table
    %tr.form_table_row
      %td.form_left Start-Ort
      -# entweder das textfield unten oder eine select-box
      %td.form_right
        = text_field_tag(:address_start, nil, :required => "required")
    %tr
      %td Ziel-Ort
      -# entweder das textfield unten oder eine select-box
      %td
        = text_field_tag(:address_end, nil, :required => "required")
    %tr
      %td Abfahrt-Datum
      %td
        %input{:name => "date_start", :required => "required", :type => "datetime"}/
    %tr
      %td Abfahrt-Uhrzeit
      %td
        %input{:name => "time_start", :required => "required", :type => "time"}/
    %tr
      %td Fahrzeug
      %td
        %select{:name => "car", :required => "required"}
          - @fahrzeuge.each do |f|
            %option{:value => f.id}= f.description
    %tr
    %tr
      %td
        = submit_tag("Erstellen")





