-#
  Übergebene Variablen:
  - @fahrzeuge [Array aller Fahrzeuge des aktuellen Benutzers]

  to do:
  - Zusammenspiel mit Controller absprechen
    # Erster Schritt: Nutzer gibt Daten ein
    # Zweiter Schritt: Nutzer bekommt Formular mit Dropdown-Boxen
      für Start und Ziel (enthalten sind alle Matches für die Eingaben).
      Nutzer wählt den gewünschten Startpunkt und das gewünschte Ziel.

= form_tag("create", :method => "post") do
  %table
    %tr
      %td Start-Ort
      -# entweder das textfield unten oder eine select-box
      %td
        = text_field_tag(:address_start, nil, :required => "required")
    %tr
      %td Ziel-Ort
      -# entweder das textfield unten oder eine select-box
      %td
        = text_field_tag(:address_end, nil, :required => "required")
    %tr
      %td Abfahrt-Datum
      %td
        %input{:name => "date_start", :required => "required", :type => "date"}/
    %tr
      %td Abfahrt-Uhrzeit
      %td
        %input{:name => "time_start", :required => "required", :type => "time"}/
    %tr
      %td Fahrzeug
      %td
        %select{:name => "car", :required => "required"}
          - @fahrzeuge.each do |f|
            %option{:value => f.id}= "#{f.car_type} (#{f.seats} Sitzplätze)"
    %tr
      %td Sitzplätze 
      %td
        %select{:name => "free_seats"}
          %option{:value => ""} keine Änderung
          - 10.times do |i|
            %option{:value => (i+1)}= (i+1)
    %tr
      %td Gep&auml;ck
      %td= check_box_tag(:baggage)
    %tr
      %td
        = submit_tag("Erstellen")





