-# Der Standard-Kram
  %p#notice= notice

  %p
    %b User:
    = @trip.user
  %p
    %b Car:
    = @trip.car
  %p
    %b Starts at:
    = @trip.starts_at
  %p
    %b Ends at:
    = @trip.ends_at
  %p
    %b Start time:
    = @trip.start_time
  %p
    %b End time:
    = @trip.end_time
  %p
    %b Trunk:
    = @trip.trunk
  %p
    %b Comment:
    = @trip.commenta

  = link_to 'Edit', edit_trip_path(@trip)
  \|
  = link_to 'Back', trips_path
-
-#
  übergebene Variablen:
    - @trip
      die Fahrt, um die es gerade geht

    - @triprole
      NICHT MEHR BENÖTIGT. CANCAN BENUTZEN!!!!
      gibt das Verhältnis des aktuellen Benutzers und der Fahrt an:
        - 0 = Fahrer
        - 1 = Mitfahrer
        - 2 = potentieller Mitfahrer (hat Anfrage gestellt, ist aber noch nicht angenommen)
        - 3 = *Gast (z.B. über die Suche zur Fahrt gekommen)

    - @commited_passenger
      Array mit allen Mitfahrern

    - @uncommited_passenger
      Array mit potentiellen Mitfahrern, die noch nicht akzeptiert wurden

  to do:
    - Array mit den Mitfahrern einbinden (Darstellen der Mitfahrer)
    - Array mit den potentiellen Mitfahrern einbinden (Übersicht für den Fahrer)
    - Formular in HAML übersetzen

-# Die Tabelle hat zwei Spalten: Eine für den die Tabelle der Mitfahrer etc, eine für die Map

%table
  %tr
    %td
      -#Tabelle mit Informationen über die Fahrt
      %table
        %tr
          %td Abfahrt:
          = form_tag do
            %td= text_field_tag(:date_start, @trip.start_time.to_date, :disabled => true)
            %td= text_field_tag(:time_start, @trip.start_time.to_time, :disabled => true)
            %td= text_field_tag(:starts_at, @trip.starts_at, :disabled => true)
        %tr
          %td Ankunft:
          = form_tag do
            %td= text_field_tag(:date_end, @trip.end_time.to_date, :disabled => true)
            %td= text_field_tag(:time_end, @trip.end_time.to_time, :disabled => true)
            %td= text_field_tag(:ends_at, @trip.ends_at, :disabled => true)
      -#Tabelle mit Informationen über Fahrer, Mitfahrer, potentielle Mitfahrer
        in Abhängigkeit vom Status des aktuellen Benutzers
    %td
      Leere zeile?!
      %table
        %tr
          %th= "Mitfahrer (" + @passengers.count + "/" + @trip.car.seats + ")"
        - @passengers.each do |passenger|
          %tr
            - if can? :manage @trip

            %td= link_to 'show', passenger










