%h2 Empfangene Nachrichten
%div.other_site
	= link_to( image_tag( '/images/messages/message_button_outbox.png', :alt => "Zu Postausgang", :size => "30x30") + "Postausgang", url_for(:action => "outbox", :controller => "messages"))
- @messages.each do |message|
	%table.message_table
		%tr
			%td.message_table_left
				= "Nachricht von"
				= link_to(message.writer.name, url_for(message.writer))
			%td.message_table_right
				= message.created_at.strftime("%d.%m.%y %H:%M")
		%tr
			%td.message_table_both{:colspan => "2"}
				%div
					%span Betreff:
					= raw(h(message.subject).gsub(/\[\[([^\|]*)\|([^\]]*)\]\]/,'<a href=\1>\2</a>'))
		%tr
			%td.message_table_both{:colspan => "2"}
				= raw(h(message.message).gsub(/[\n]/,"<br />"))
		%tr
			%td.message_table_both{:colspan => "2"}
				=link_to(image_tag( '/images/messages/message_button_answer.png', :alt => "Antworten", :size => "20x20") + "Antworten", url_for(:action => "new", :controller => "messages", :mid => message.id))
				= "|"
				= link_to(image_tag( '/images/messages/message_button_delete.png', :alt => "Löschen", :size => "20x20") + "Löschen", url_for(:action => "update", :controller => "messages", :id => message.id, :who => "receiver"), :method => :put)
