%h1 Listing messages

%table
  %tr
    %th Message
    %th Writer
    %th Receiver
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.message
      %td= message.writer
      %td= message.receiver
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Message', new_message_path
