%h2 Gesendete Nachrichten
%div.other_site
	= link_to( image_tag( '/images/messages/message_button_inbox.png', :alt => "Posteingang", :size => "30x30") + "Zu Posteingang", url_for(:action => "index", :controller => "messages"))

- @messages.each do |message|
	%table.message_table
		%tr
			%td.message_table_left
				= "Nachricht an"
				= link_to(message.receiver.name, url_for(message.receiver))
			%td.message_table_right
				= message.created_at.strftime("%d.%m.%y %H:%M")
		%tr
			%td.message_table_both{:colspan => "2"}
				%div
					%span Betreff:
					= raw(h(message.subject).gsub(/\[\[([^\|]*)\|([^\]]*)\]\]/,'<a href=\1>\2</a>'))
		%tr
			%td.message_table_both{:colspan => "2"}
				= raw(h(message.message).gsub(/[\n]/,"<br />"))
		%tr
			%td.message_table_both{:colspan => "2"}
				=link_to(image_tag( '/images/messages/message_button_new.png', :alt => "Löschen", :size => "20x20") + "Neue Nachricht", url_for(:action => "new", :controller => "messages", :uid => message.receiver.id))
				= "|"
				= link_to(image_tag( '/images/messages/message_button_delete.png', :alt => "Löschen", :size => "20x20") + "Löschen", url_for(:action => "update", :controller => "messages", :id => message.id, :who => "writer"), :method => :put)
