%p#notice= notice

%p
  %b Message:
  = @message.message
%p
  %b Writer:
  = @message.writer
%p
  %b Receiver:
  = @message.receiver

= link_to 'Bearbeiten', edit_message_path(@message)
\|
= link_to 'Zurück', messages_path
