

%h1.head
  Profil bearbeiten
%p.under
  Mit * gekennzeichnete Felder müssen ausgefüllt sein
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :name=>"Formular" }) do |f|
  = devise_error_messages!

  %table.form_table
    %tr.form_table_row
      %td.form_table_left
        = f.label :"Name*"
      %td.form_table_right
        = f.text_field :name
    %tr.form_table_row
      %td.form_table_left
        = f.label :"E-Mail*"
      %td.form_table_right
        = f.email_field :email
    %tr.form_table_row
      %td.form_table_left
        = f.label :'Neues Passwort'
      %td.form_table_right
        = f.password_field :password
    %tr.form_table_row
      %td.form_table_left
        = f.label :"Neues Passwort wiederholen"
      %td.form_table_right
        = f.password_field :password_confirmation
    %tr.form_table_row
      %td.form_table_left
        = f.label :"Passwort*"
      %td.form_table_right
        = f.password_field :current_password, :required=>"required"

    %tr.form_table_row
      %td.form_table_left
        = f.label :"Geburtsdatum*"
      %td.form_table_right
        = f.date_select :birthday,
                        :start_year => 1900,
                        :end_year => 2011,
                        :order => [:day, :month, :year],
                        :use_month_numbers => true,
                        :required=>"required"
      %td{:class=>"label", :id=>"form_table_middle", :checked_value=>"1"}sichtbar
      %td.form_table_end
        = f.check_box:visible_age, :value=>"sichtbar"
    %tr.form_table_row
      %td.form_table_left
        = f.label :Geschlecht
      %td.form_table_right 
        = f.select:sex,  options_for_select([["Maennlich","1"], ["Weiblich","0"]], @user.sex? ? "1" : "0")

    %tr.form_table_row
      %td.form_table_left
        = f.label :"Strasse und Hausnummer*"
      %td.form_table_right
        = f.text_field:address, :required=>"required" 
      %td{:class=>"label", :id=>"form_table_middle"}sichtbar
      %td.form_table_end
        = f.check_box:visible_address 
          
    %tr.form_table_row
      %td.form_table_right
        = f.label :"PLZ*"
      %td.form_table_left
        = f.text_field:zipcode, :required=>"required", :maxlength=>"5", :size=>"30", :class=>"integer", 
      :onblur =>" var b = (this.value).search(/[^0-9]+/);if(this.value.length<5){alert('PLZ zu kurz!'); this.focus();} if(b>=0){alert('PLZ enthält falsche Zeichen!'); this.focus;}"

      %td{:class=>"label", :id=>"form_table_middle"}sichtbar
      %td.form_table_end
        = f.check_box:visible_zip


    %tr.form_table_row
      %td.form_table_left
        = f.label :"Ort*"
      %td.form_table_right
        = f.text_field:city, :required=>"required"
      %td{:class=>"label", :id=>"form_table_middle"}sichtbar
      %td.form_table_end
        = f.check_box:visible_city



    %tr.form_table_row
      %td.form_table_left
        = f.label :Telefon
      %td.form_table_right
        = f.phone_field:phone 
      %td{:class=>"label", :id=>"form_table_middle"}sichtbar
      %td.form_table_end
        = f.check_box:visible_phone



    %tr.form_table_row
      %td.form_table_left
        = f.label :InstantMassengerDaten
      %td.form_table_right
        = f.text_field:instantmessenger
      %td{:class=>"label", :id=>"form_table_middle"}sichtbar
      %td.form_table_end
        = f.check_box:visible_im
    %tr.form_table_row
      %td.form_table_left
        = f.label :pic, "Bild hochladen"
      %td.form_table_right
        = f.file_field :pic
      %td.form_table_middle
      %td.form_table_end

    %tr.form_table_row
      %td
      %td
      %td
        = f.submit "Speichern"
  %h3.links
    #{link_to "Account löschen", registration_path(resource_name), :confirm => "Sind sie sicher?", :method => :delete}.
  %p.links
    = link_to "zurück", :back



