%h1 
  Registrieren
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:name=>"Formular", :action=>"create"}) do |f|
  = devise_error_messages!
  %p
    = f.label :"Name*"
    %br/
    = f.text_field :name
  %p
    = f.label :"E-mail*"
    %br/
    = f.email_field :email
  %p
    = f.label :"Passwort*"
    %br/
    = f.password_field :password, :required=>"required"
  %p
    = f.label :"Passwort wiederholen*"
    %br/
    = f.password_field :password_confirmation, :required=>"required"
  %p
    = f.label :"Geburtsdatum"
    %br/
    = f.date_select :birthday,
                    :start_year => 1900,
                    :end_year => 2011,
                    :order => [:day, :month, :year],
                    :use_month_numbers => true
  %p
    = f.label :"Straße und Hausnummer*"
    %br/
    = f.text_field:address, :required=>"required"

  %p
    = f.label :"PLZ*"
    %br
      = f.text_field:zipcode, :required=>"required", :class=>"integer", 
                              :maxlength=>"5", :size=>"30", :remote=>"true",
                              :onblur => "if(this.value.length<5){alert('PlZ zu kurz'); this.focus();}"
  %p
    = f.label :"Stadt*"
    %br/
    = f.text_field:city

  %p
    %br
    = f.label :Geschlecht
  %p
    %br
    = f.select:sex,  options_for_select([["Maennlich","1"], ["Weiblich","0"]], @user.sex? ? "Maennlich" : "Weiblich"), :id=>"form_table_second"

  %p
    = f.label :Telefon
    %br/
    = f.phone_field :phone

  %p
    = f.label :Instantmessenger
    %br/
    = f.text_field :instantmessenger


  %p= f.submit "Anmelden"


  %p
    Mit * gekennzeichnete Felder müssen ausgefüllt werden!
-#= render :partial => "devise/shared/links"
