%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :email
    %br/
    = f.email_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    %br/
    = f.label :birthday
  %p
    %br/
    = f.date_select :birthday,
                    :start_year => 1970,
                    :end_year => 2011,
                    :order => [:day, :month, :year],
                    :use_month_numbers => true
    %br

  %p
    %br
    = f.label :address
  %p
    %br
    = f.text_field:address, :required=>"required"

  %p
    %br
    = f.label :zipcode
  %p
    %br
    = f.number_field:zipcode, :required=>"required",
                              :min=>"10000",
                              :max=>"99999",

  %p
    %br
    = f.label :city
  %p
    %br
    = f.text_field:city, :required=>"required"

  %p
    %br
    = f.label :Geschlecht
  %p
    %br
    = f.select:sex,  options_for_select([["Maennlich","1"], ["Weiblich","0"]], @user.sex? ? "Maennlich" : "Weiblich"), :id=>"form_table_second"

  %p
    %br
    = f.label :Telefon
  %p
    %br
    = f.phone_field :phone

  %p
    %br
    = f.label :Instantmessenger
  %p
    %br
    = f.text_field :instantmessenger

  -#= f.hidden_field :visible_age


  %p= f.submit "Sign up"
-#= render :partial => "devise/shared/links"
