= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

.table
  %tr
    %td{:class=>"label"}Geburtsdatum
    %td 
      = f.date :birthday :required=>"required"
    %td{:class=>"label"}sichtbar
    %td
      = f.checkbox :value=>"sichtbar"
  %tr
    %td{:class=>"label"}Geschlecht
    %td 
      = f.select_tag :sex "Geschlecht", options_for_select(["Maennlich", "Weiblich"], @user.sex? ? "Maennlich" : "Weiblich")
  %tr
    %td{:class=>"label"}Strasse und Hausnummer
    %td
      = f.text :address :required="required" 
    %td{:class=>"label"}sichtbar
    %td
      = f.checkbox :value=>"sichtbar"
        
  %tr
    %td{:class=>"label"}PLZ
    %td
      = f.number :zipcode :required="required"
    %td{:class=>"label"}sichtbar
    %td
      = f.checkbox :value=>"sichtbar"


  %tr
    %td{:class=>"label"}Ort
    %td
      = f.text :city :required="required"
    %td{:class=>"label"}sichtbar
    %td
      = f.checkbox :value=>"sichtbar"

  %tr
    %td{:class=>"label"}InstantMassengerDaten
    %td
      = f.text :instantmassenger :required="required"
    %td{:class=>"label"}sichtbar
    %td
      = f.checkbox :value=>"sichtbar"
  .action
    = f.submit 'Save'









