= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %table.data_table#form_table
    %tr#form_table_row
      %td{:class=>"label", :id=>"form_table_first"}Geburtsdatum
      %td 
        = f.date_select :birthday,
                        :start_year => 1970,
                        :end_year => 2009,
                        :order => [:day, :month, :year],
                        :use_month_numbers => true
      %td{:class=>"label", :id=>"form_table_", :checked_value=>"1"}sichtbar
      %td
        = f.check_box:visible_age, :value=>"sichtbar", :id=>"form_table_fourth"
    %tr#form_table_row
      %td{:class=>"label", :id=>"form_table_first"}Geschlecht
      %td 
        = f.select:sex,  options_for_select([["Maennlich","1"], ["Weiblich","0"]], !@user.sex? ? "Maennlich" : "Weiblich"), :id=>"form_table_second"

    %tr#form_table_row
      %td{:class=>"label", :id=>"form_table_first"}Strasse und Hausnummer
      %td
        = f.text_field:address, :required=>"required" 
      %td{:class=>"label"}sichtbar
      %td
        = f.check_box:visible_address 
          
    %tr#form_table_row
      %td{:class=>"label", :id=>"form_table_left"}PLZ
      %td
        = f.number_field:zipcode, :required=>"required"
      %td{:class=>"label"}sichtbar
      %td
        = f.check_box:visible_zip


    %tr#form_table_row
      %td{:class=>"label"}Ort
      %td
        = f.text_field:city, :required=>"required"
      %td{:class=>"label"}sichtbar
      %td
        = f.check_box:visible_city



    %tr#form_table_row
      %td{:class=>"label", :id=>"form_table_left"}Telefon
      %td
        = f.phone_field:phone 
      %td{:class=>"label"}sichtbar
      %td
        = f.check_box:visible_phone



    %tr#form_table_row
      %td{:class=>"label"}InstantMassengerDaten
      %td
        = f.text_field:instantmessenger
      %td{:class=>"label"}sichtbar
      %td
        = f.check_box:visible_im

  .field
    = f.label :pic, "Bild hochladen"
    %br
    = f.file_field :pic

    %tr 
    %tr
      %td
      %td
        = f.submit 'Save'









