%h1 New request

= form_tag("new", :method => "post") do
	%table.form_table
		%tr.form_table_row
			%td.form_left
				Von
			-# entweder das textfield unten oder eine select-box
			%td.form_right
				= text_field_tag(:address_start, nil, :required => "required")
		%tr
			%td.form_left
				Nach
			-# entweder das textfield unten oder eine select-box
			%td.form_right
				= text_field_tag(:address_end, nil, :required => "required")
		%tr
			%td.form_left
				Datum
			%td.form_right
				%input{:name => "date_start", :required => "required", :type => "date"}/
		%tr
			%td.form_left
				Uhrzeit
			%td.form_right
				%input{:name => "time_start", :required => "required", :type => "time"}/
		%tr
			%td.form_left
				= "Gepäck"
			%td.form_right
				= check_box_tag(:name => "baggage", :value => "baggage")
		%tr
			%td.form_left
			%td.form_right
				= submit_tag("Erstellen")
