-#
  übergebene Variablen:
    - @sorted_trips
      Array mit auf den Request passende Fahrten

%p#notice= notice

%p
  %b Starts at N:
  = @request.starts_at_N
%p
  %b Starts at E:
  = @request.starts_at_E
%p
  %b Ends at N:
  = @request.ends_at_N
%p
  %b Ends at E:
  = @request.ends_at_E
%p
  %b Address Start:
  = @request.address_start
%p
  %b Address End:
  = @request.address_end
%p
  %b Start Time:
  = @request.start_time
%p
  %b End Time:
  = @request.end_time
%p
  %b Baggage:
  = @request.baggage
%p
  %b Comment:
  = @request.comment

= link_to 'Edit', edit_request_path(@request)
\|
= link_to 'Back', requests_path
