= form_for @rating do |f|
  -if @rating.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rating.errors.count, "error")} prohibited this rating from being saved:"
      %ul
        - @rating.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :comment
    = f.text_field :comment
  .field
    = f.label :mark
    = f.text_field :mark
  .field
    = f.label :author
    = f.number_field :author
  .field
    = f.label :receiver
    = f.number_field :receiver
  .field
    = f.label :trip
    = f.text_field :trip
  .actions
    = f.submit 'Save'
