= stylesheet_link_tag :cars
= form_for @car do |f|
  -if @car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car.errors.count, "error")} prohibited this car from being saved:"
      %ul
        - @car.errors.full_messages.each do |msg|
          %li= msg

  .field
    Fahrzeughalter
    = f.text_field :user
  .field
    = f.label ("Sitzplaetze") :seats
    = f.number_field :seats
  .field
    = f.label :trunk
    = f.text_field :trunk
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :licence
    = f.text_field :licence
  .field
    = f.label :fuel_consumption
    = f.number_field :fuel_consumption
  .field
    = f.label :smoker
    = f.text_field :smoker
  .actions
    = f.submit 'Save'
