%h1 Listing cars

%table
  %tr
    %th User
    %th Seats
    %th Trunk
    %th Type
    %th Licence
    %th Fuel consumption
    %th Smoker
    %th
    %th
    %th

  - @cars.each do |car|
    %tr
      %td= car.user
      %td= car.seats
      %td= car.trunk
      %td= car.description
      %td= car.licence
      %td= car.fuel_consumption
      %td= car.smoker
      %td= link_to 'Show', car
      %td= link_to 'Edit', edit_car_path(car)
      %td= link_to 'Destroy', car, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Car', new_car_path
