= stylesheet_link_tag :cars
.cars
  %h1 Dein Fuhrpark

  
  
  %table
    %tr
      %th Bild
      %th Bezeichnung
      %th Anzahl der Sitzpl&auml;tze
      %th Verbrauch
      %th Raucher
      %th Kennzeichen
      %th Anzeigen  
      %th Editieren
      %th Löschen

    - @cars.each do |car|
      %tr
        %td= image_tag car.carpic.url(:thumb)
        %td= car.description
        %td= car.seats
        %td= car.fuel_consumption
        %td= car.smoker
        %td= car.licence
        %td= link_to 'Details', car
        %td= link_to 'Bearbeiten', edit_car_path(car)
        %td= link_to 'Löschen', car, :confirm => 'Bist du sicher?', :method => :delete

%a{:href => "/cars/new"}
  Auto hinzuf&uuml;gen

