= stylesheet_link_tag :cars
.cars
  %h1 Deine Fahrzeuge
  .other_side
    = link_to image_tag( '/images/cars/car_button_add_high.png', :alt => "Neues Fahrzeug", :size => "50x50") + "Neu", new_car_path

  
  
  %table
    %tr
      %th Bild
      %th Modell
      %th Sitzpl&auml;tze
      %th Preis/km
      %th Raucher
      %th Kennzeichen
      %th Beschreibung
      %th Editieren
      %th Löschen

    - @cars.each do |car|
      %tr
        - if car.carpic?
          %td= image_tag car.carpic.url(:thumb)
        - else
          %td= image_tag( '/images/cars/Default_car_icon.png', :size => "100x100") 
        %td= link_to car.car_type, car
        %td= car.seats
        %td= car.price_km
        %td
          = car.smoker? ? "Ja" : "Nein"
        %td= car.licence
        %td= car.description
        %td= link_to image_tag( '/images/cars/car_button_edit_high.png', :size => "40x40"), edit_car_path(car)
        %td= link_to image_tag( '/images/cars/car_button_delete_high.png', :size => "40x40"), car, :confirm => 'Bist du sicher?', :method => :delete

  

