= stylesheet_link_tag :cars
%h1 Neues Fahrzeug hinzuf&uuml;gen

= form_for :car, :url => "/cars/create", :html => { :multipart => true } do |f|
  -if @car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car.errors.count, "error")} Beim speichern des Fahrzueges ist ein Fehler aufgetreten:"
      %ul
        - @car.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :seats, "Sitzplätze*" 
    %br
    = f.number_field :seats, :size => 30, :min => 0, :max =>40
  .field
    = f.label :car_type, "Modell*"
    %br
    = f.text_field :car_type, :required => true
  .field
    = f.label :licence, "Kennzeichen*"
    %br
    = f.text_field :licence, :required => true 
  .field
    = f.label :price_km, "Preis pro km (numerisch)"
    %br
    = f.text_field :price_km
  .field
    = f.label :smoker, "Raucher"
    %br
    = f.check_box :smoker
  .field
    = f.label :description, "Beschreibung (max. 160 Zeichen)"
    %br
    = f.text_area :description, :maxlength => 100, :placeholder => "Großer Kofferraum, Keine Türen", :resize => "none"
  .field
    = f.label :carpic, "Bild hochladen"
    %br
    = f.file_field :carpic
    
  .actions
    = f.submit 'Hinzufügen'
  Mit * gekennzeichnete Felder sind Pflichtfelder
= link_to 'Zurück', cars_path
