%p#notice= notice

%p
  %b Bild des Fahrzeuges:
  %br
  - if @car.carpic? 
    = image_tag @car.carpic.url(:medium)
  - else 
    = "Kein Bild hochgeladen"
%p
  %b Modell:
  = @car.car_type
%p
  %b Sitzpl&auml;tze:
  = @car.seats
%p
  %b Verbrauch:
  = @car.price_km
%p
  %b Raucherwagen:
  = @car.smoker? ? "ja" : "nein"
%p
  %b Nummernschild:
  = @car.licence

%p
  %b Beschreibung:
  = @car.description
= link_to 'Bearbeiten', edit_car_path(@car)
= link_to image_tag( '/images/cars/car_button_edit_high.png', :size => "40x40"), edit_car_path(@car)
\|
= link_to 'Zurück', cars_path
