%p#notice= notice

%p
  %b User:
  = @car.user
%p
  %b Bild:
  = image_tag @car.avatar.url
  = image_tag @car.avatar.url(:medium)
  = image_tag @car.avatar.url(:thumb)
%p
  %b Seats:
  = @car.seats
%p
  %b Trunk:
  = @car.trunk
%p
  %b Type:
  = @car.type
%p
  %b Licence:
  = @car.licence
%p
  %b Fuel consumption:
  = @car.fuel_consumption
%p
  %b Smoker:
  = @car.smoker

= link_to 'Edit', edit_car_path(@car)
\|
= link_to 'Back', cars_path
