%p#notice= notice

%p
  %b Fahzeughalter:
  = @car.user
%p
  %b Bild des Fahrzeuges:
  %br
  = image_tag @car.carpic.url(:medium)
%p
  %b Sitzplaetze:
  = @car.seats
%p
  %b Beschreibung:
  = @car.description
%p
  %b Nummernschild:
  = @car.licence
%p
  %b Verbrauch:
  = @car.fuel_consumption
%p
  %b Raucherwagen:
  = @car.smoker

= link_to 'Daten ändern', edit_car_path(@car)
\|
= link_to 'Zurück', cars_path
