- ie_html :lang => 'de', :class => 'no-js' do
	%head
		%title Mitfahrzentrale
		%meta{:charset => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		= stylesheet_link_tag :application
		= javascript_include_tag :application
		= csrf_meta_tags
		%body{:class => controller.controller_name}
			#container.container
				%header
					%banner
						= image_tag( '/images/Header_alt.png', :size => "1000x150") 
				%nav
					%ul
						- if user_signed_in?
							-#%li
							-#	= link_to('Startseite', root_path)
							%li
								= link_to('Suchen', new_request_path)
							%li
								= link_to('Fahrten', trips_path)
							%li
								= link_to('Nachrichten', messages_path)
							%li
								= link_to('Bewertungen', ratings_path)
							%li
								= link_to('Fahrzeuge', cars_path)
						= render 'devise/menu/registration_items'
						= render 'devise/menu/login_items'
				- flash.each do |name, msg|
					= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
				#main{:role => "main"}
					= yield
				%footer

